<!DOCTYPE html>
<html>
<head>
 <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">  -->
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" type="text/css" href="bootmodal.css"> 
<link rel="stylesheet" style="text/css" href="admin.css">
<meta charset="ISO-8859-1">
<title>Delete Room</title>

</head>
<body style="background-color: #d3d3d3">

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="notify.min.js"></script>
	<script type="text/javascript" src="bootbox.min.js"></script>
	

	<div data-ng-app="app" data-ng-controller="deleteroom"
		style="margin-top: 50px">
		<div id="menu" style="float: left;">
			<nav style="margin-top: 65px">
				<div class="menu-item">
					<h4>
						<a href="viewRooms.html">View Room Details</a>
					</h4>
				</div>

				<div class="menu-item alpha">
					<h4>Sensor Management</h4>
					<ul>
						<li><a href="editsensor.html">Add Sensor</a></li>
						<li><a href="viewsensors.html">View Sensors</a></li>
					</ul>
				</div>

				<div class="menu-item">
					<h4>Room Management</h4>
					<ul>
						<li><a href="addroom.html">Add Room</a></li>
						<li><a href="deleteroom.html">Delete Room</a></li>
					</ul>
				</div>

				<div class="menu-item">
					<h4>User Management</h4>
					<ul>
						<li><a href="adduser.html">Add User</a></li>
						<li><a href="deleteuser.html">Delete User</a></li>
						<li><a href="editeduser.html">Edit User</a></li>
						<li><a href="showusers.html">Show Users</a></li>
					</ul>
				</div>
			</nav>
		</div>
		<div id="room">
			<br>
			<pre class="input">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Building: <select
					data-ng-model="room.building">
										<option value="CT1">CT1</option>
										<option value="CT2">CT2</option>
									</select>
			</pre>
			<br>

			<pre class="input">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Floor:	<select
					data-ng-model="room.floor">
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
								</select>
			</pre>
			<br>
			<pre class="input">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Room no:	<input
					type="text" name="roomId" data-ng-model="room.roomId"><br>
			</pre>
			<br>
			<center>
				<button id="deleteroom" data-ng-click="deleted()">Delete</button>
			</center>
		</div>
	</div>
	<h3>
		<a href="adminLogin.html">HOME PAGE</a>
	</h3>

	<script>

		var app = angular.module("app", []);
		app.controller("deleteroom",function($scope, $window, $http) {
							$scope.room = {
								roomId : '',
								building : '',
								floor : ''
							}
							$scope.deleted = function() {
								
								bootbox.confirm("Are you sure you want to delete the room?", function(result) {
						            if (result == true)
									{
										var req = {
												method : 'POST',
												url : 'http://localhost:8888/Room_automation/rest/room/delete',
												headers : {
													'Content-Type' : 'Application/json'
												},
												data : {
													roomid : $scope.room.roomId,
													buildg : $scope.room.building,
													floor : $scope.room.floor

												}
											};

											var response = $http(req);
											response.success(function(data) {
												bootbox.alert(data, function(result)
														{
															if(result === true)
																$window.location = "adminLogin.html";
														});
												
											});

											response.error(function(data) {
												bootbox.alert(data, function(result)
														{
															if(result === true)
																$window.location = "deleteroom.html";
														});
					
											})
									}
									});
							}
						});
	</script>
</body>
</html>