<!DOCTYPE html>
<html>
<body>
<div>
<div>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;from date <input type="date" ng-model="dateString" /><br/><br/>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;to date <input type="date" ng-model="dateString" /><br/><br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button data-ng-submit="fun()">view Graph</button><br/><br/>
</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="C:\Users\saurabhpa\Desktop\googleviza.png" alt="Smiley face" width="550" height="300">
</div>
</div>
</body>
</html>
